In [ ]:
import pandas as pd
import numpy as np
import random
import time

from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

from sklearn.preprocessing import StandardScaler

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score

# Análise Exploratória

In [ ]:
smartphones_df = pd.read_csv('/content/drive/MyDrive/tcc/data_smartphones.csv')
smartphones_df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

# Pre-processamento

In [ ]:
def get_max_fence(column):
    """Calculates outlier max limit using interquartile range.
       If a given value is greater than max_fence then it's an outlier.
       
    Parameters
    ---------- 
    column : pd.Series
        data to calculate the max limit
        
    Returns
    -------
    float
        calculated outlier limit
    """
    
    quartiles = column.quantile([0.25,0.75])
    first_quartile, third_quartile = quartiles.values[0], quartiles.values[1]
    interquartile_range = third_quartile - first_quartile
    max_fence = third_quartile + 1.5 * interquartile_range
    
    return max_fence

fc_fence = get_max_fence(smartphones_df['fc'])
px_height_fence = get_max_fence(smartphones_df['px_height'])

print(f'Fc max fence: {fc_fence}, Px max fence: {px_height_fence}')

Fc max fence: 16.0, Px max fence: 1944.0

In [ ]:
clean_df = smartphones_df.drop(smartphones_df[(smartphones_df.fc >= fc_fence) | (smartphones_df.px_height >= px_height_fence)].index)
clean_df

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,1,0.5,1,0,1,2,0.8,106,6,...,1222,1890,668,13,4,19,1,1,0,0
1996,1965,1,2.6,1,0,0,39,0.2,187,4,...,915,1965,2032,11,10,16,1,1,1,2
1997,1911,0,0.9,1,1,1,36,0.7,108,8,...,868,1632,3057,9,1,5,1,1,0,3
1998,1512,0,0.9,0,4,1,46,0.1,145,5,...,336,670,869,18,10,19,1,1,1,0
1999,510,1,2.0,1,5,1,45,0.9,168,6,...,483,754,3919,19,4,2,1,1,1,3

In [ ]:
model_df = clean_df.drop(columns=['fc', 'px_width', 'sc_h'])
model_df

,battery_power,blue,clock_speed,dual_sim,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,ram,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,0,7,0.6,188,2,2,20,2549,7,19,0,0,1,1
1,1021,1,0.5,1,1,53,0.7,136,3,6,905,2631,3,7,1,1,0,2
2,563,1,0.5,1,1,41,0.9,145,5,6,1263,2603,2,9,1,1,0,2
3,615,1,2.5,0,0,10,0.8,131,6,9,1216,2769,8,11,1,0,0,2
4,1821,1,1.2,0,1,44,0.6,141,2,14,1208,1411,2,15,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,1,0.5,1,1,2,0.8,106,6,14,1222,668,4,19,1,1,0,0
1996,1965,1,2.6,1,0,39,0.2,187,4,3,915,2032,10,16,1,1,1,2
1997,1911,0,0.9,1,1,36,0.7,108,8,3,868,3057,1,5,1,1,0,3
1998,1512,0,0.9,0,1,46,0.1,145,5,5,336,869,10,19,1,1,1,0
1999,510,1,2.0,1,1,45,0.9,168,6,16,483,3919,4,2,1,1,1,3

In [ ]:
model_df.price_range.value_counts()

0    491
3    490
2    489
1    486
Name: price_range, dtype: int64

# Modelagem
\

In [ ]:
random.sample(range(100), 30)

[19,
 42,
 41,
 91,
 38,
 27,
 29,
 59,
 0,
 79,
 97,
 22,
 80,
 14,
 93,
 95,
 77,
 25,
 70,
 53,
 33,
 39,
 2,
 3,
 56,
 40,
 43,
 75,
 52,
 9]

In [ ]:
seeds = [19, 42, 41, 91, 38, 27, 29, 59, 0, 79, 97, 22, 80, 14, 93, 
         95, 77, 25, 70, 53, 33, 39,  2, 3, 56, 40, 43, 75, 52, 9]

In [ ]:
#separando features e target
X = model_df.drop(columns=['price_range'])
y = model_df['price_range']

#dividindo 70% dos dados para treino e 30% para teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, 
                                                    random_state=33, shuffle=True)

In [ ]:
splits = []
names = []
accs = []
f1s = []
prs = []
rcs = []
times = []

classifiers = [
    ('kNN', KNeighborsClassifier(n_neighbors=4)),
    ('SVM', SVC()),
    ('NB', GaussianNB()),
    ('NN', MLPClassifier(random_state=0, solver='lbfgs')),
    ('LR', LogisticRegression()),
    ('RF', RandomForestClassifier(random_state=0))
]


X = model_df.drop(columns=['price_range'])
y = model_df['price_range']

X = StandardScaler().fit_transform(X)


for split, seed in enumerate(seeds):
  X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, 
                                                      random_state=seed, 
                                                      shuffle=True)

  for name, clf in classifiers:
    start = time.time()
    clf.fit(X_train, y_train)
    end = time.time()

    training_time = end - start
    times.append(training_time)

    preds = clf.predict(X_test)
    
    splits.append(split)
    names.append(name)

    acc = accuracy_score(y_test, preds)
    f1 = f1_score(y_test, preds, average='weighted')
    precision = precision_score(y_test, preds, average='weighted')
    recall = recall_score(y_test, preds, average='weighted')

    accs.append(acc)
    f1s.append(f1)
    prs.append(precision)
    rcs.append(recall)

    print(split, name, acc, f1, precision, recall, training_time)

results = pd.DataFrame()
results['split'] = splits
results['classifier'] = names
results['accuracy'] = accs
results['f1'] = f1s
results['precision'] = prs
results['recall'] = rcs
results['training_time'] = times

0 kNN 0.4684838160136286 0.4687202870602748 0.4794700463574454 0.4684838160136286 0.0004611015319824219
0 SVM 0.8466780238500852 0.8472761011175685 0.8507960163519351 0.8466780238500852 0.1309807300567627
0 NB 0.7836456558773425 0.7857103200031773 0.7889967660799878 0.7836456558773425 0.003443002700805664
0 NN 0.8671209540034072 0.8668926710810794 0.8669289680588744 0.8671209540034072 0.3657186031341553
0 LR 0.8943781942078365 0.8945523724998318 0.8948619934040708 0.8943781942078365 0.04786276817321777
0 RF 0.838160136286201 0.8395415704825141 0.8416335135245062 0.838160136286201 0.33670592308044434
1 kNN 0.48211243611584326 0.47862444026075573 0.4953649021150077 0.48211243611584326 0.00044608116149902344
1 SVM 0.8500851788756388 0.8502312413569134 0.8505012919475397 0.8500851788756388 0.12523722648620605
1 NB 0.787052810902896 0.7869839178229975 0.7869631069553032 0.787052810902896 0.004472494125366211
1 NN 0.8722316865417377 0.872130988673581 0.8721801504819839 0.8722316865417377 0.27797412872314453
1 LR 0.9011925042589438 0.9009920766783243 0.9009283586529184 0.9011925042589438 0.042764902114868164
1 RF 0.8432708688245315 0.8418717449108276 0.8417627393144438 0.8432708688245315 0.34372949600219727
2 kNN 0.47700170357751276 0.4701952409668917 0.4714883334875244 0.47700170357751276 0.00044465065002441406
2 SVM 0.838160136286201 0.8385854708480618 0.8408193357820757 0.838160136286201 0.12765789031982422
2 NB 0.778534923339012 0.777078070845327 0.7773180429200006 0.778534923339012 0.0012552738189697266
2 NN 0.8705281090289608 0.8710284548112494 0.8722830002319826 0.8705281090289608 0.4745368957519531
2 LR 0.8960817717206133 0.896219798892781 0.8966456922634298 0.8960817717206133 0.04182696342468262
2 RF 0.848381601362862 0.8476358743732091 0.848282121145833 0.848381601362862 0.3346409797668457
3 kNN 0.47700170357751276 0.48131507205649293 0.5112938120493068 0.47700170357751276 0.0004658699035644531
3 SVM 0.8671209540034072 0.8672020818281759 0.8677866436228432 0.8671209540034072 0.12476849555969238
3 NB 0.7700170357751278 0.7706861495875921 0.7729093323071645 0.7700170357751278 0.0034246444702148438
3 NN 0.848381601362862 0.8479240034543066 0.8481650711280787 0.848381601362862 0.46668291091918945
3 LR 0.8926746166950597 0.892179684993546 0.8927767276798518 0.8926746166950597 0.03887152671813965
3 RF 0.8398637137989778 0.8394939034188723 0.839299074818872 0.8398637137989778 0.34146809577941895
4 kNN 0.4735945485519591 0.47416847544503943 0.4906605402309582 0.4735945485519591 0.0004360675811767578
4 SVM 0.8194207836456558 0.8215050219795123 0.8260431284649228 0.8194207836456558 0.12328243255615234
4 NB 0.8006814310051107 0.8013990316396292 0.8047280418324084 0.8006814310051107 0.005330085754394531
4 NN 0.8620102214650767 0.8627567305085526 0.8652593090818166 0.8620102214650767 0.3202807903289795
4 LR 0.8926746166950597 0.8929107618684721 0.8942150711915814 0.8926746166950597 0.04203510284423828
4 RF 0.8620102214650767 0.8623133894986794 0.8646863082803559 0.8620102214650767 0.3339211940765381
5 kNN 0.4616695059625213 0.4600992810437738 0.475367185952065 0.4616695059625213 0.00044727325439453125
5 SVM 0.82793867120954 0.8280308688057029 0.8287013365181751 0.82793867120954 0.13312077522277832
5 NB 0.7666098807495741 0.7658737255439263 0.7655257598247367 0.7666098807495741 0.004782915115356445
5 NN 0.8722316865417377 0.8720364557230144 0.8724413375172939 0.8722316865417377 0.3412191867828369
5 LR 0.8909710391822828 0.8909347392847874 0.8928359028300394 0.8909710391822828 0.04825568199157715
5 RF 0.8517887563884157 0.852124059355639 0.8532044320648382 0.8517887563884157 0.33722925186157227
6 kNN 0.4957410562180579 0.4997817358283616 0.5269680572597949 0.4957410562180579 0.0004260540008544922
6 SVM 0.8313458262350937 0.8332387499889918 0.8405082405304225 0.8313458262350937 0.14186382293701172
6 NB 0.8023850085178875 0.8036746645162933 0.805736734717131 0.8023850085178875 0.002490997314453125
6 NN 0.858603066439523 0.8596342098545792 0.8613329838900639 0.858603066439523 0.3352835178375244
6 LR 0.9131175468483816 0.9130247695891858 0.9130100901576168 0.9131175468483816 0.04830598831176758
6 RF 0.8722316865417377 0.8727904168778279 0.8742172327430634 0.8722316865417377 0.34876155853271484
7 kNN 0.5008517887563884 0.5004275472739843 0.5146100175767291 0.5008517887563884 0.000415802001953125
7 SVM 0.8568994889267462 0.8574379584718566 0.8604694288742094 0.8568994889267462 0.1418607234954834
7 NB 0.7819420783645656 0.7833900384672827 0.7867224023682388 0.7819420783645656 0.003439188003540039
7 NN 0.8551959114139693 0.8564059070158029 0.8588932157311296 0.8551959114139693 0.32993555068969727
7 LR 0.889267461669506 0.8899216365916842 0.8914499436448826 0.889267461669506 0.05073738098144531
7 RF 0.8262350936967632 0.8272617663545575 0.8298969834628962 0.8262350936967632 0.3316183090209961
8 kNN 0.4684838160136286 0.46087177464490514 0.4710284043925078 0.4684838160136286 0.00046753883361816406
8 SVM 0.8228279386712095 0.8225671479145273 0.8234857109124133 0.8228279386712095 0.13197040557861328
8 NB 0.778534923339012 0.7780575820284933 0.7777633652761741 0.778534923339012 0.004983186721801758
8 NN 0.838160136286201 0.8380693945345749 0.8382514890606884 0.838160136286201 0.542137861251831
8 LR 0.889267461669506 0.8886349623671264 0.8885277085425742 0.889267461669506 0.043997764587402344
8 RF 0.8415672913117547 0.8402881873761984 0.8402931365332195 0.8415672913117547 0.34377193450927734
9 kNN 0.46678023850085176 0.4651826186185123 0.48062129478889254 0.46678023850085176 0.0032982826232910156
9 SVM 0.8432708688245315 0.843789717655306 0.8470825283208874 0.8432708688245315 0.12737345695495605
9 NB 0.7853492333901193 0.7857034377498585 0.7863183077410046 0.7853492333901193 0.004241943359375
9 NN 0.8637137989778535 0.8640121861470451 0.8649192169134047 0.8637137989778535 0.3115348815917969
9 LR 0.8858603066439523 0.885818893965417 0.8858076424540351 0.8858603066439523 0.04589104652404785
9 RF 0.858603066439523 0.8582509974626652 0.8583798246252122 0.858603066439523 0.3447444438934326
10 kNN 0.4940374787052811 0.4909073662443421 0.505594201520495 0.4940374787052811 0.00042557716369628906
10 SVM 0.8654173764906303 0.8649931083834034 0.8660832889907134 0.8654173764906303 0.13067269325256348
10 NB 0.7853492333901193 0.7843812195272616 0.7881650154074419 0.7853492333901193 0.004675626754760742
10 NN 0.889267461669506 0.8895714187629435 0.8909230075194022 0.889267461669506 0.30028605461120605
10 LR 0.9148211243611585 0.9147444494321872 0.9156881360500525 0.9148211243611585 0.06202554702758789
10 RF 0.8517887563884157 0.8500510385638097 0.8533688865654367 0.8517887563884157 0.33863353729248047
11 kNN 0.42589437819420783 0.4220316896621105 0.449041757260758 0.42589437819420783 0.00047707557678222656
11 SVM 0.8313458262350937 0.833000914709671 0.8380415722834803 0.8313458262350937 0.12763047218322754
11 NB 0.7802385008517888 0.7798549518964668 0.7805857345540813 0.7802385008517888 0.004509687423706055
11 NN 0.879045996592845 0.8787453469381376 0.8786983277126865 0.879045996592845 0.31857919692993164
11 LR 0.9011925042589438 0.9012643758744104 0.9016332125755956 0.9011925042589438 0.047631025314331055
11 RF 0.8551959114139693 0.8551234048973376 0.8573980850201379 0.8551959114139693 0.4435420036315918
12 kNN 0.4940374787052811 0.49696832509530176 0.5251673644447994 0.4940374787052811 0.0006873607635498047
12 SVM 0.8551959114139693 0.8555016470972792 0.8563045643435907 0.8551959114139693 0.17340898513793945
12 NB 0.7955706984667802 0.7942359274156047 0.793896975141221 0.7955706984667802 0.0018808841705322266
12 NN 0.8620102214650767 0.8625201886120727 0.8635346690158493 0.8620102214650767 0.448589563369751
12 LR 0.9114139693356048 0.9112247967283177 0.9111073852107822 0.9114139693356048 0.058510780334472656
12 RF 0.8620102214650767 0.860045513767834 0.8610159094221124 0.8620102214650767 0.3288307189941406
13 kNN 0.4906303236797274 0.49012666817933126 0.5041828042141266 0.4906303236797274 0.001226186752319336
13 SVM 0.848381601362862 0.8490654798819839 0.8503812858348454 0.848381601362862 0.12833905220031738
13 NB 0.778534923339012 0.7803092776953043 0.7832243351655169 0.778534923339012 0.004477977752685547
13 NN 0.8620102214650767 0.8625128126289116 0.8634574184571162 0.8620102214650767 0.5242154598236084
13 LR 0.8841567291311755 0.8842336989669275 0.8844639044076814 0.8841567291311755 0.041365861892700195
13 RF 0.8466780238500852 0.8474800497036945 0.8487167792365725 0.8466780238500852 0.3399810791015625
14 kNN 0.4889267461669506 0.48812191958331624 0.4949460692762752 0.4889267461669506 0.00042510032653808594
14 SVM 0.8449744463373083 0.8456894634839893 0.8471628858662829 0.8449744463373083 0.13624835014343262
14 NB 0.7853492333901193 0.7873604033857576 0.7900209347466788 0.7853492333901193 0.0025010108947753906
14 NN 0.8705281090289608 0.8704360093029536 0.8703748379764474 0.8705281090289608 0.5751502513885498
14 LR 0.9063032367972743 0.906225516736848 0.9061986424619232 0.9063032367972743 0.08592367172241211
14 RF 0.8500851788756388 0.8495315543058332 0.8492742507577955 0.8500851788756388 0.3307802677154541
15 kNN 0.4855195911413969 0.4809914715911705 0.4878446595210451 0.4855195911413969 0.00047969818115234375
15 SVM 0.8449744463373083 0.8460572229510577 0.8480327486335523 0.8449744463373083 0.1255931854248047
15 NB 0.7904599659284497 0.7893129342810227 0.7896225625139004 0.7904599659284497 0.004126310348510742
15 NN 0.8620102214650767 0.8613824768088403 0.8612095928379568 0.8620102214650767 0.4605231285095215
15 LR 0.8926746166950597 0.8925062996554706 0.8928383357751482 0.8926746166950597 0.044797420501708984
15 RF 0.8432708688245315 0.8418048426552386 0.843145404251123 0.8432708688245315 0.34228014945983887
16 kNN 0.4684838160136286 0.46529948107425495 0.4897420100547696 0.4684838160136286 0.0006849765777587891
16 SVM 0.848381601362862 0.8488379660807014 0.8498336940342684 0.848381601362862 0.13861823081970215
16 NB 0.778534923339012 0.7784053612583606 0.7796537358247575 0.778534923339012 0.004442930221557617
16 NN 0.8671209540034072 0.8671384911576224 0.8685743383710867 0.8671209540034072 0.38437485694885254
16 LR 0.8960817717206133 0.8959348325886975 0.8959732987179254 0.8960817717206133 0.049573659896850586
16 RF 0.8620102214650767 0.8621917402257702 0.8631593574604332 0.8620102214650767 0.33724093437194824
17 kNN 0.4889267461669506 0.49153502565437446 0.506830192328527 0.4889267461669506 0.00043654441833496094
17 SVM 0.8534923339011925 0.8545024702310544 0.858037500840771 0.8534923339011925 0.13421130180358887
17 NB 0.7887563884156729 0.7904877151122783 0.7933546424586081 0.7887563884156729 0.0013048648834228516
17 NN 0.8807495741056218 0.8811314969930681 0.8823887712871872 0.8807495741056218 0.6525630950927734
17 LR 0.9028960817717206 0.9029148261906557 0.9033643248886566 0.9028960817717206 0.04214811325073242
17 RF 0.8534923339011925 0.8530292078909266 0.8538600019797287 0.8534923339011925 0.34282970428466797
18 kNN 0.504258943781942 0.5053682837455457 0.5284556491204828 0.504258943781942 0.0004811286926269531
18 SVM 0.8466780238500852 0.8483075514081418 0.8526958391750267 0.8466780238500852 0.12537932395935059
18 NB 0.7734241908006815 0.7723990202187072 0.7737141324939435 0.7734241908006815 0.005225419998168945
18 NN 0.848381601362862 0.8494020150048167 0.8526185825381959 0.848381601362862 0.2733273506164551
18 LR 0.8926746166950597 0.893078609795018 0.8938410074082492 0.8926746166950597 0.048935890197753906
18 RF 0.8330494037478705 0.8320918484060298 0.833408373586794 0.8330494037478705 0.9470455646514893
19 kNN 0.5059625212947189 0.5091358305601424 0.5223005247617611 0.5059625212947189 0.0004470348358154297
19 SVM 0.8211243611584327 0.82357344571572 0.8305130140190213 0.8211243611584327 0.12918424606323242
19 NB 0.7427597955706985 0.7453798605230159 0.7488410303288751 0.7427597955706985 0.003675222396850586
19 NN 0.8534923339011925 0.8550395732725308 0.8578116147951325 0.8534923339011925 0.47537827491760254
19 LR 0.8960817717206133 0.8972698733012783 0.9003157210951078 0.8960817717206133 0.05338406562805176
19 RF 0.82793867120954 0.8283455970696035 0.8289229712814471 0.82793867120954 0.334064245223999
20 kNN 0.46337308347529815 0.4631935087800992 0.47670830593907526 0.46337308347529815 0.0005598068237304688
20 SVM 0.8364565587734242 0.8362911852661475 0.8377679231400236 0.8364565587734242 0.12955141067504883
20 NB 0.7836456558773425 0.7828950521627489 0.7826684577558781 0.7836456558773425 0.003568887710571289
20 NN 0.8654173764906303 0.8647314150537354 0.8669954014320208 0.8654173764906303 0.5259110927581787
20 LR 0.9028960817717206 0.9026352874788678 0.9027274393397245 0.9028960817717206 0.05275249481201172
20 RF 0.8432708688245315 0.843425724906275 0.8443557087955729 0.8432708688245315 0.33914899826049805
21 kNN 0.49744463373083475 0.4890553159559452 0.4960387138559125 0.49744463373083475 0.0004684925079345703
21 SVM 0.8500851788756388 0.8497251853544353 0.849701188256277 0.8500851788756388 0.12739038467407227
21 NB 0.7904599659284497 0.7878379530994001 0.7874192377785685 0.7904599659284497 0.0015015602111816406
21 NN 0.8841567291311755 0.8835665237527132 0.883794143376767 0.8841567291311755 0.3073265552520752
21 LR 0.9028960817717206 0.9026445931425916 0.902836920521163 0.9028960817717206 0.044385671615600586
21 RF 0.8500851788756388 0.8476668439073939 0.8495066384945532 0.8500851788756388 0.342604398727417
22 kNN 0.47189097103918226 0.4700873364642759 0.471959091953714 0.47189097103918226 0.00042366981506347656
22 SVM 0.868824531516184 0.8697165289009741 0.871497547702107 0.868824531516184 0.1241614818572998
22 NB 0.8126064735945485 0.8102505826697881 0.8095708858511257 0.8126064735945485 0.005265712738037109
22 NN 0.8671209540034072 0.867660413706004 0.8694046141704557 0.8671209540034072 0.4339156150817871
22 LR 0.9216354344122658 0.921615659265628 0.9216914626678129 0.9216354344122658 0.044817209243774414
22 RF 0.8568994889267462 0.8561431661466429 0.8557445751876713 0.8568994889267462 0.35485363006591797
23 kNN 0.5059625212947189 0.5031939312304547 0.516918644783639 0.5059625212947189 0.0004837512969970703
23 SVM 0.8398637137989778 0.841207338811219 0.8438163526146825 0.8398637137989778 0.13014650344848633
23 NB 0.8211243611584327 0.8199963082939663 0.8199006532243713 0.8211243611584327 0.0019376277923583984
23 NN 0.8858603066439523 0.8864530088489432 0.8894213094689336 0.8858603066439523 0.3244438171386719
23 LR 0.9182282793867121 0.9184161317756688 0.9187311235761078 0.9182282793867121 0.04482913017272949
23 RF 0.8773424190800682 0.8773552592291969 0.8790567131994762 0.8773424190800682 0.34766077995300293
24 kNN 0.4787052810902896 0.4732552830783428 0.48657800927645173 0.4787052810902896 0.00044274330139160156
24 SVM 0.8296422487223168 0.8293526979121787 0.8291271655142143 0.8296422487223168 0.13365745544433594
24 NB 0.768313458262351 0.7679110582580428 0.7681433552443108 0.768313458262351 0.005093812942504883
24 NN 0.8807495741056218 0.8800891030613948 0.8802823494917247 0.8807495741056218 0.28162264823913574
24 LR 0.8977853492333902 0.8974920350332436 0.8974701737501113 0.8977853492333902 0.04436922073364258
24 RF 0.8517887563884157 0.8515418406680987 0.8514396059337117 0.8517887563884157 0.3613853454589844
25 kNN 0.4957410562180579 0.5013453029127535 0.5251148414380225 0.4957410562180579 0.0004286766052246094
25 SVM 0.838160136286201 0.8370363334585796 0.8367535674175934 0.838160136286201 0.12903738021850586
25 NB 0.817717206132879 0.816798409722539 0.816192064093926 0.817717206132879 0.0037343502044677734
25 NN 0.8909710391822828 0.8903297699271214 0.8902069996000125 0.8909710391822828 0.29174089431762695
25 LR 0.9165247018739353 0.9167847850162372 0.9174083273198278 0.9165247018739353 0.053624629974365234
25 RF 0.8807495741056218 0.880248032093012 0.8812950930638803 0.8807495741056218 0.34517765045166016
26 kNN 0.5076660988074957 0.5060017413072411 0.5156935666332277 0.5076660988074957 0.0004417896270751953
26 SVM 0.82793867120954 0.8297504989601108 0.8334164591186158 0.82793867120954 0.12913775444030762
26 NB 0.7734241908006815 0.7722364249583173 0.7716198641431327 0.7734241908006815 0.00602412223815918
26 NN 0.858603066439523 0.8595620768983114 0.8615512406047725 0.858603066439523 0.45752763748168945
26 LR 0.8943781942078365 0.894491530155821 0.8947355221631201 0.8943781942078365 0.03982710838317871
26 RF 0.8449744463373083 0.8442550790780349 0.8438336321754533 0.8449744463373083 0.34702396392822266
27 kNN 0.46678023850085176 0.46681858359308587 0.47062598163309144 0.46678023850085176 0.0004482269287109375
27 SVM 0.8347529812606473 0.8352480010541923 0.8363635596675772 0.8347529812606473 0.13166475296020508
27 NB 0.7836456558773425 0.7825186199358253 0.7831870454731255 0.7836456558773425 0.0042035579681396484
27 NN 0.8637137989778535 0.8630204492683095 0.8634661608075991 0.8637137989778535 0.570110559463501
27 LR 0.9028960817717206 0.902264987333317 0.9022709652571241 0.9028960817717206 0.047544002532958984
27 RF 0.848381601362862 0.8463950659868249 0.8470659728189807 0.848381601362862 0.333911657333374
28 kNN 0.4684838160136286 0.46522750471766855 0.4724586487444317 0.4684838160136286 0.00043702125549316406
28 SVM 0.8551959114139693 0.8549866401854594 0.8553660266943276 0.8551959114139693 0.13149571418762207
28 NB 0.797274275979557 0.7983848839281044 0.8000355682200965 0.797274275979557 0.004829883575439453
28 NN 0.8807495741056218 0.8811008980504209 0.8819962447989816 0.8807495741056218 0.30739831924438477
28 LR 0.8960817717206133 0.8957618663727037 0.8968358248673984 0.8960817717206133 0.05037069320678711
28 RF 0.8807495741056218 0.8807631768069042 0.881423845446313 0.8807495741056218 0.33665919303894043
29 kNN 0.47018739352640543 0.46667232908290146 0.4805060867670358 0.47018739352640543 0.0004775524139404297
29 SVM 0.8364565587734242 0.8364809240766841 0.8367285190954739 0.8364565587734242 0.12578058242797852
29 NB 0.8006814310051107 0.8014843452108202 0.8025064731877727 0.8006814310051107 0.004635810852050781
29 NN 0.8551959114139693 0.8549124744798539 0.8550842149767548 0.8551959114139693 0.26775360107421875
29 LR 0.889267461669506 0.8890645145889648 0.888936313089306 0.889267461669506 0.048502445220947266
29 RF 0.8432708688245315 0.8429583250366897 0.8427716995536338 0.8432708688245315 0.3283860683441162

In [ ]:
results

     split classifier  accuracy        f1  precision    recall  training_time
0        0        kNN  0.468484  0.468720   0.479470  0.468484       0.000461
1        0        SVM  0.846678  0.847276   0.850796  0.846678       0.130981
2        0         NB  0.783646  0.785710   0.788997  0.783646       0.003443
3        0         NN  0.867121  0.866893   0.866929  0.867121       0.365719
4        0         LR  0.894378  0.894552   0.894862  0.894378       0.047863
..     ...        ...       ...       ...        ...       ...            ...
175     29        SVM  0.836457  0.836481   0.836729  0.836457       0.125781
176     29         NB  0.800681  0.801484   0.802506  0.800681       0.004636
177     29         NN  0.855196  0.854912   0.855084  0.855196       0.267754
178     29         LR  0.889267  0.889065   0.888936  0.889267       0.048502
179     29         RF  0.843271  0.842958   0.842772  0.843271       0.328386

[180 rows x 7 columns]

In [ ]:
results.to_csv('/content/drive/MyDrive/tcc/results.csv', index=False)